.divProfile {
  background-color: white;
  padding: 5%;
  width: 95.7%;
  margin-left: 25px;
  margin-top: 2%;
  border-radius: 5px;
  margin-bottom: 4%;
}

.tableChamados {
  margin: 20px;
  width: 98%;
}

.botoesAcaoChamado {
  height: 25px;
  width: 25px;
  margin: 1px;
}

.divBotaoNovoChamado {
  display: flex;
  justify-content: flex-end;
}

.iconeAcaoChamado {
  margin-bottom: 15px;
  margin-left: -6px;
}

.btnBuscarMais {
  background-color: #181c2c;
  color: white;
  border: none;
  transition: 0.5;
}

.btnBuscarMais:hover {
  background-color: #242a42;
  color: #fff;
}

.btnBuscarMais:focus {
  outline: none;
  box-shadow: none;
  background-color: #242a42;
}

.statusAberto {
  background-color: rgb(12, 88, 12);
  color: white;
  border-radius: 5px;
  display: inline-block;
  height: 20px;
  width: 55px;
}

.statusAndamento {
  background-color: rgb(11, 33, 87);
  color: white;
  display: inline-block;
  border-radius: 5px;
  height: 20px;
  width: 80px;
}

.statusFechado {
  background-color: rgb(128, 0, 0);
  color: white;
  display: inline-block;
  border-radius: 5px;
  height: 20px;
  width: 60px;
}

.labelStatusAberto {
  margin-left: 12%;
}

.labelStatusAndamento {
  margin-left: 5%;
}

.labelStatusFechado {
  margin-left: 5%;
}
